.top-buffer { 
	margin-top:2px; 
}

.lingrad {
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F2F2F2));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);	
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%);
}
	
/* Fonts and text */
	
@font-face {
	font-family: "HelveticaNeueLtCn";
	src: url('../fonts/HelveticaNeueLTCom-LtCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTCom-LtCn.woff') format('woff');
}

.description {
	font-family: "HelveticaNeueLtCn", "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif;
	font-size: 16px;
	color: #848484;
	text-align: justified;
}

h1 {
	font-family: "HelveticaNeueLtCn", "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #848484;
	text-align: justified;
}

/* Navigation bar */

.masternav {
	border-bottom: 1px solid;
	border-color: #D8D8D8;
}

.nav > li > a {
	font-family: "HelveticaNeueLtCn", "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif;
	font-size: 18px;
	color: #848484;
}
.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
	font-family: "HelveticaNeueLtCn", "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif;
	color: #2E2E2E;
}

/* Quote image */
.quote {
	margin-left:auto;
	margin-right:auto;
	opacity: 0.6;
    filter: alpha(opacity=40);
	max-height:100%;
	max-width:100%;
	vertical-align: middle;
}



/* Download app images */

.download_icon {
	margin-left:auto;
	margin-right:auto;
	max-width:140px;
	max-height:50px;
	vertical-align: middle;
}

.screenview {
	display: block;
	margin-left:auto;
	margin-right:auto;
	max-width:80%;
	max-height:75%;
	opacity: 0.8;
	filter: alpha(opacity=80);
	vertical-align: middle;
}

.disabled_look {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

/* Carousel */
.carousel-control {
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 0;
  width: 40px;
  height:40px;
  font-size: 48px;
  color: #fff;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  background: #222;
  border: 3px solid #fff;
  border-radius: 50%;
  filter: alpha(opacity=20);
  opacity: .2;
}

/* Carousel indicators */

.carousel-indicators {
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 0;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #aaa;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #aaa;
}