.top-buffer { 
	margin-top:2px; 
}

.lingrad {
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F2F2F2));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F2F2F2 100%);	
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%);
	
	/*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(#f8f8f8, #eeeeee);
	background-image: -moz-linear-gradient(#f8f8f8, #eeeeee);
	background-image: -o-linear-gradient(#f8f8f8, #eeeeee);
	background-image: linear-gradient(#f8f8f8, #eeeeee);*/
}
	
/* Fonts and text */
	
@font-face {
	font-family: "HelveticaNeueLtCn";
	src: url('../fonts/HelveticaNeueLTCom-LtCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTCom-LtCn.woff') format('woff');
}

.description {
	font-family: "HelveticaNeueLtCn", "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif;
	font-size: 16px;
	color: #848484;
	text-align: justified;
}

h1 {
	font-family: "HelveticaNeueLtCn", "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #848484;
	text-align: justified;
}

/* Navigation bar */

.masternav {
	/*border-width: 0 0 10px 0;
	-webkit-border-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #848484), color-stop(1, #FFFFFF));
	-webkit-border-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #848484 0%, #FFFFFF 100%);		
	-o-border-image: -o-radial-gradient(center bottom, circle farthest-corner, #848484 0%, #FFFFFF 100%);		
	-moz-border-image: -moz-radial-gradient(center bottom, circle farthest-corner, #848484 0%, #FFFFFF 100%);*/
}

.nav > li > a {
	font-family: "HelveticaNeueLtCn", "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif;
	font-size: 18px;
	color: #848484;
}
.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
	font-family: "HelveticaNeueLtCn", "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif;
	color: #2E2E2E;
}

/* Quote image */
.quote {
	margin-left:auto;
	margin-right:auto;
	opacity: 0.6;
    filter: alpha(opacity=40);
	max-height:100%;
	max-width:100%;
	vertical-align: middle;
}



/* Download app images */

.download_icon {
	margin-left:auto;
	margin-right:auto;
	max-width:140px;
	max-height:50px;
	vertical-align: middle;
}

.screenview {
	display: block;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	max-height:75%;
	opacity: 0.8;
	filter: alpha(opacity=40);
	vertical-align: middle;
}

.disabled_look {
    opacity: 0.2;
    filter: alpha(opacity=40);
}

/* Carousel */

a.carousel-control
{
  top: 45%;
  left: 8px;
  width: 40px;
  height: 40px;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #222;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.3;
}
